@import url('https://fonts.cdnfonts.com/css/poppins');


* {
    font-family: "Poppins";
}

body {
    margin: 0 auto;
    padding: 20px;
}

.container {
    display: flex;
    gap: 20px;
}

/* Style for the left container */
.container-left {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    height:fit-content !important;
}

/* Style for the right container */
.container-right {
    flex: 2;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

h1,
h2 {
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-field {
    width: 250px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

.filter-field {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

.delete-btn {
    background-color: rgb(231, 52, 52);
    border: none;
    color: white;
    border-radius: 3px;
    padding: 5px;
    font-size: 11px;
    transition: background-color 0.3s ease-in-out;
}

.delete-btn:hover {
    background-color: rgb(200, 45, 45);
}

#submit-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(34, 148, 34);
    border: none;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

#submit-btn:hover {
    background-color: rgb(28, 118, 28);
}

.filter-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.filter-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}


#filter-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(88, 88, 88);
    border: none;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

#filter-btn:hover {
    background-color: rgb(48, 48, 48);
}


textarea {
    resize: none;
}

.control-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#transactions {
    margin-top: 20px;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

.transaction-item.income {
    background-color: #e0f7fa;
    border-radius: 5px;
    border: 1px solid rgb(228, 226, 226)
}

.transaction-item.expense {
    background-color: #ffebee;
    border-radius: 5px;
    border: 1px solid rgb(228, 226, 226)
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.error {
    color: rgb(248, 61, 61);
    font-size: 12px;
    padding: 0;
    margin: 10px;
}

.no-transactions {
    text-align: center;
    width: 100%;
    color: red;
    font-size: 14px;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

#loginButton, #signupButton {
    padding: 15px 40px;
    font-size: 1.25em;
    font-weight: bold;
    color: #ffffff;
    background-color: #00796b;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#loginButton, #signupButton:hover {
    background-color: #004d40;
    transform: translateY(-2px);
}

#loginButton, #signupButton:active {
    transform: translateY(1px);
}
